# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Build output
build/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env*.local
.env
.env.local
.env.production
.env.staging

# TypeScript
*.tsbuildinfo

# Generated native folders (Continuous Native Generation)
/ios
/android

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Test coverage
coverage/

# Logs
*.log

# Misc
*.pem
.cache/